---
// import { LinkCard, CardGrid } from '@astrojs/starlight/components';
// import { getImage, Image } from "astro:assets";

// import { pageGlob, pageNodes } from '../PageHierarchy.ts';


// const {pages, excludes=[]} = Astro.props;

// let childPageInfo = [];

// const pageSlug = Astro.params.slug; // e.g. electronics/circuit-design

// // Find the page node for the current page by iterating over the slug parts
// let pageNode = pageNodes;
// if (pageSlug !== undefined) {
//   const pageSlugParts = pageSlug.split('/');
//   // console.log('Page slug parts:', pageSlugParts);
//   for (const pageSlugPart of pageSlugParts) {
//     const foundChildNode = pageNode.items.find((child) => {
//       // console.log('Checking child:', child);
//       return child.label === pageSlugPart
//     });
//     if (foundChildNode === undefined) {
//       console.error('Could not find child node:', pageSlugPart);
//       break;
//     }
//     pageNode = foundChildNode;
//     // console.log('Found page node:', pageNode);
//   }
// }
// // console.log('Found page node:', pageNode);

// for (const childPage of pageNode.items) {
//   console.log('Looking at child page:', childPage.label);
//   if (childPage.slug === '') {
//     console.error('Child page has no slug:', childPage);
//     continue;
//   }

//   const fullPath = `/src/content/docs/${childPage.slug}/index.mdx`;
//   // console.log('Full path:', fullPath);
//   const fileInfo = await pageGlob[fullPath]() as any;
//   // console.log('image:', fileInfo.coverImage);
//   const childPageFilePathParts = fileInfo.url.split('/');
//   const childPageSlugPartial = childPageFilePathParts[childPageFilePathParts.length - 2];
//   if (excludes.includes(childPageSlugPartial)) {
//     continue;
//   }
//   // Astro.params.slug is undefined on the homepage
//   let childPathSlug;
//   if (Astro.params.slug === undefined) {
//     childPathSlug = `/${childPageSlugPartial}/`;
//   } else {
//     childPathSlug = `/${Astro.params.slug}/${childPageSlugPartial}/`;
//   }
//   childPageInfo.push({
//       title: fileInfo.frontmatter.title,
//       url: childPathSlug,
//       description: fileInfo.frontmatter.description,
//       image: fileInfo.coverImage // If coverImage is exported from .mdx files, otherwise undefined
//   });
// }
// console.log(Astro.params); // slug: electronics/circuit-design
// console.log(Astro.url); // pathaame: /electronics/circuit-design/
---

<!-- <CardGrid> -->
  <!-- {childPageInfo.map((childPageInfo) => (
    <>
    <LinkCard title={childPageInfo.title} href={childPageInfo.url} description={childPageInfo.description} />
    { childPageInfo.image !== undefined ? <Image src={childPageInfo.image} alt="" /> : null }
    </>
  ))}
</CardGrid> -->

<p>Child pages</p>